
.cartItem {
    display: flex;
    flex-direction: row;
    background-color: #faf9ff;
    margin: 10px 15px;
    padding: 15px;
    border-bottom: 5px solid #e1e0e4;
  
    .cart-image {
      display: flex;
      justify-content: center;
      img {
        width: 50px;
      }
    }
  
    .cart-qty {
      display: flex;
      align-items: center;
  
      .cart-qty-input {
        width: 30px;
        height: 25px;
        border: 2px solid #a2b7bf;
        border-radius: 4px;
        box-shadow: none;
        outline: none;
        text-align: center;
        color: #a2b7bf;
  
        &:focus {
          border: 2px solid #3b5b68;
          box-shadow: none;
          outline: none;
        }
      }
  
      .cart-plus {
        margin-left: 6px;
        color: #a2b7bf;
        cursor: pointer;
      }
  
      .cart-minus {
        margin-right: 6px;
        color: #a2b7bf;
        cursor: pointer;
      }
    }
  
    .productDetails {
      width: 50%;
      justify-content: center;
      display: flex;
      flex-direction: column;
      text-align: left;
      padding-left: 10px;
  
      h6 {
        color: #3b5b68;
        font-size: 16px;
        margin: 0px;
        font-weight: 500;
      }
  
      p {
        color: #a2b7bf;
        font-size: 12px;
        padding-right: 8px;
        margin: 0;
      }
    }
  
    .cartprice {
      font-size: 21px;
      color: #3b5b68;
      padding-left: 8px;
      margin-left: auto;
      text-align: right;
    }
  }
  